---
layout: project-frame
title: Hibernate Search documentation
project: search
---
-# Metadata from site.yml for the project
- project_description = site.projects[page.project]

-# Documentation buttons using the latest dev and latest stable releases
.release-bottons.hidden-phone
  - stable_release = latest_stable_release(page)
  - if not stable_release.nil?
    .row-fluid.text-center
      %a.btn.btn-large.btn-success{:href => '#{project_description.sourceforge_url}#{stable_release.version}/'} Get documentation for #{stable_release.version}
.release-bottons.visible-phone
  - stable_release = latest_stable_release(page)
  - if not stable_release.nil?
    .row-fluid.text-center
      %a.btn.btn-success{:href => '#{project_description.sourceforge_url}#{stable_release.version}/'} Get documentation for #{stable_release.version}
.row-fluid
  .span12
    -# Documentation table built form the metadata
    %h2 Reference documentation
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Document
          %th Version
          %th Language
          %th Format
      %tbody
        - site.projects[page.project].releases.each do |release|
          %tr
            %td Reference documentation
            %td= release.version
            %td English
            %td
              %a{:href => "#{project_description.reference_doc}#{release.version_family}/reference/en-US/html/"}
                html
              |
              %a{:href => "#{project_description.reference_doc}#{release.version_family}/reference/en-US/html_single/"}
                html single
              |
              %a{:href => "#{project_description.reference_doc}#{release.version_family}/reference/en-US/pdf/#{project_description.reference_pdf}"}
                pdf
            %tr
              %td JavaDoc
              %td
              %td English
              %td
                %a{:href => "#{project_description.reference_doc}#{release.version_family}/api/"}
                  html

    :asciidoc
      :ref_doc: #{project_description.reference_doc}

      Documentation for older versions can be found {ref_doc}[on the reference documentation site].
.row-fluid
  .span12
    :asciidoc
      == Guides

      link:/search/documentation/getting-started[Getting started guide]::
      For a gentle introduction to the concepts of Hibernate Search without being sidetracked by other technologies.
      link:http://example.com/ticket-monster[TicketMonster tutorial]::
      Describes how to add a full-text search engine step by step from an existing Java EE application.

      == Books and Articles
      
      http://emmanuelbernard.com/books/hsia/[Hibernate Search in Action]::
      A bit outdated book on Hibernate Search but a very good reference on the product and search engines in general.
      It has been written by a member of the Hibernate Search team.
      
      ## Other documentation

      Make sure to check the link:/search/faq/[FAQ].
      Last but not least, you can find some additional documentation in our https://community.jboss.org/en/hibernate/search[wiki].
