- current_path = page['real_page'].output_path.sub(/index\.html$/, "").sub(/\.html$/,"/")

.ui.fluid.vertical.menu
  - href = "/community/"
  - active = (href == current_path)
  %a.item{:href => href, :class => "#{(active ? "active" : "")}"}
    %i.grid.icon.users
    Community

  .ui.dropdown.link.item{:class => "#{(current_path.start_with?( '/community/commonhaus/' ) ? "selected" : "")}"}
    Commonhaus
    %i.icon.dropdown
    .menu
      - href = "/community/commonhaus/"
      %a.item{:href => href, :class => "#{(current_path == href ? "selected" : "")}"}
        Membership
      - href = "/community/commonhaus/faq-joining/"
      %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
        Joining FAQ

  .ui.dropdown.link.item{:class => "#{(current_path.start_with?( '/community/contributors/' ) ? "selected" : "")}"}
    Contributors
    %i.icon.dropdown
    .menu
      - href = "/community/contributors/orm/"
      %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
        Hibernate ORM
      - href = "/community/contributors/search/"
      %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
        Hibernate Search
      - href = "/community/contributors/validator/"
      %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
        Hibernate Validator
      - href = "/community/contributors/reactive/"
      %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
        Hibernate Reactive

  - href = "/community/corporate-contributors/"
  - active = (href == current_path)
  %a.item{:href => href, :class => "#{(active ? "active" : "")}"}
    %i.grid.icon.building.outline
    Corporate contributors

  - href = "/community/compatibility-policy/"
  - active = (href == current_path)
  %a.item{:href => href, :class => "#{(active ? "active" : "")}"}
    %i.grid.icon.history
    Compatibility policy

  - href = "/community/maintenance-policy/"
  - active = (href == current_path)
  %a.item{:href => href, :class => "#{(active ? "active" : "")}"}
    %i.grid.icon.wrench
    Maintenance policy

  - href = "/community/license/"
  - active = (href == current_path)
  %a.item{:href => href, :class => "#{(active ? "active" : "")}"}
    %i.grid.icon.legal
    Licenses

  - href = "/community/keys/"
  - active = (href == current_path)
  %a.item{:href => href, :class => "#{(active ? "active" : "")}"}
    %i.grid.icon.key
    Keys

  .ui.dropdown.link.item{:class => "#{(current_path.start_with?( '/community/contribute/' ) ? "selected" : "")}"}
    Contribute
    %i.icon.dropdown
    .menu
      - href = "/community/contribute/guidelines/"
      %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
        Guidelines
      - href = "/community/contribute/intellij-idea/"
      %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
        Set up IntelliJ IDEA
      - href = "/community/contribute/eclipse-ide/"
      %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
        Set up Eclipse IDE
      - href = "/community/contribute/build-hibernate-orm/"
      %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
        Build Hibernate ORM
