- real_page = page['real_page']
- current_path = page['real_page'].output_path.sub(/index\.html$/, "").sub(/\.html$/,"/")
- project_description = page['project_description']
- displayed_series = project_description.active_release_series
- stable_series = project_description.latest_stable_series

.ui.fluid.vertical.menu
  - # The active menu item is the menu item with the longest prefix of the current path.
  - active_menu_item = project_description.menu.intern.select {|element| current_path.start_with?(element.href)}.max {|a, b| a.href.size <=> b.href.size }
  - project_description.menu.intern.each do |menu|
    - active = (menu.href == active_menu_item&.href)
    - if menu.releases_submenu && !displayed_series.nil? && !displayed_series.empty?
      .ui.dropdown.link.item{:class => "#{(active ? "selected" : "")}"}
        #{menu.name}
        %i.icon.dropdown
        .menu
          - overview_active = current_path == menu.href
          %a.item{:href => menu.href, :class => "#{(overview_active ? "selected" : "")}"}
            Overview
          - displayed_series.each do |series|
            - submenu_href = "#{menu.href}#{series.version}/"
            - submenu_active = current_path.start_with?(submenu_href)
            %a.item{:href => submenu_href, :class => "#{(submenu_active ? "selected" : "")}"}
              #{series.version}
              - latest_release = series.releases[0]
              - if !latest_release.stable
                &nbsp;&nbsp;
                %span.ui.label.orange development
              - elsif stable_series.version == series.version
                &nbsp;&nbsp;
                %span.ui.label.green latest stable
    - elsif menu.documentation_submenu
      // Here we want to display all the known versions
      - documentation_displayed_series = project_description.release_series.values
      .ui.dropdown.link.item{:class => "#{(active ? "selected" : "")}"}
        #{menu.name}
        %i.icon.dropdown
        .menu
          - documentation_displayed_series.each do |series|
            - submenu_href = "#{menu.href}#{series.version}/"
            - submenu_active = current_path.start_with?(submenu_href)
            %a.item{:href => "#{submenu_href}", :class => "#{(submenu_active ? "selected" : "")}"}
              #{series.version}
              - latest_release = series.releases[0]
              - if !latest_release.stable
                &nbsp;&nbsp;
                %span.ui.label.orange development
              - elsif stable_series.version == series.version
                &nbsp;&nbsp;
                %span.ui.label.green latest stable
    - else
      %a.item{:href => menu.href, :class => "#{(active ? "selected" : "")}"}
        %i.grid.icon{:class => "#{menu.css_class}"}
        #{menu.name}
.ui.fluid.vertical.menu
  - project_description.menu.extern.each do |menu|
    %a.item{:href => "#{menu.href}", :class => "#{(active ? "selected" : "")}"}
      %i.grid.icon{:class => "#{menu.css_class}"}
      #{menu.name}
%hr
.license
  Released under the
  %a{:href => "#{project_description.license.url}"}= project_description.license.name
