---
layout: project-downloads
title: Hibernate ORM Downloads
project: orm
---
-# Metadata from site.yml for the project
- project_description = site.projects[page.project]

:asciidoc
  :nexus: https://repository.jboss.org/nexus/
  :nexus-search: https://repository.jboss.org/nexus/index.html#nexus-search;gav~#{project_description.group_id}~#{project_description.artifact_id}~~~
  :groupId: #{project_description.group_id}
  :artifactId: #{project_description.artifact_id}
  :prj-version: #{project_description.sorted_releases.first.version}

  == Maven repository

  Hibernate ORM publishes Maven project artifacts to the
  {nexus}[JBoss Maven Repository] under {nexus-search}[{groupId}]. 
  For more information on how to configure Maven to use JBoss's repository,
  http://community.jboss.org/wiki/MavenGettingStarted-Users[look here] or use `mvn install -s setting-example.xml`.
  
  Here is how to declare the various dependencies in your Maven POM file

  [source,xml]
  [subs="verbatim,attributes"]
  .Maven dependency
  ----
  <!-- required -->
  
  <dependency>
      <groupId>{groupId}</groupId>
      <artifactId>hibernate-core</artifactId>
      <version>{prj-version}</version>
  </dependency>
  
  <!-- optional -->
  
  <dependency>
      <groupId>{groupId}</groupId>
      <artifactId>hibernate-entitymanager</artifactId>
      <version>{prj-version}</version>
  </dependency>
  <dependency>
      <groupId>{groupId}</groupId>
      <artifactId>hibernate-osgi</artifactId>
      <version>{prj-version}</version>
  </dependency>
  <dependency>
      <groupId>{groupId}</groupId>
      <artifactId>hibernate-envers</artifactId>
      <version>{prj-version}</version>
  </dependency>
  <dependency>
      <groupId>{groupId}</groupId>
      <artifactId>hibernate-c3p0</artifactId>
      <version>{prj-version}</version>
  </dependency>
  <dependency>
      <groupId>{groupId}</groupId>
      <artifactId>hibernate-proxool</artifactId>
      <version>{prj-version}</version>
  </dependency>
  <dependency>
      <groupId>{groupId}</groupId>
      <artifactId>hibernate-infinispan</artifactId>
      <version>{prj-version}</version>
  </dependency>
  <dependency>
      <groupId>{groupId}</groupId>
      <artifactId>hibernate-ehcache</artifactId>
      <version>{prj-version}</version>
  </dependency>
  ----
