---
layout: base
---
-# layout for pages related to the community
-# display menu on the left
-# handles title display

.ui.container-fluid
  .jumbotron.small
    .ui.container
      .ui.grid.stackable
        .column.row
          .column.twelve.wide
            %h1
              %span Community
            %h2
              %span= page.title
          .column.four.wide
            .jumbotron-button
              %a.ui.small.labeled.icon.button{:href => "#{site.github.organization_url}"}
                %i.github.icon
                Our GitHub organization
            .jumbotron-button
              %a.ui.small.labeled.icon.button{:href => "#{site.jira.base_url}"}
                %i.bug.icon
                Our issue tracker
            

.ui.container.page-content
  .ui.stackable.grid
    .column.three.wide.computer.only
      .ui.fluid.vertical.menu
        - current_path = page.output_path.sub(/index\.html$/, "").sub(/\.html$/,"/")

        - href = "/community/"
        - active = (href == "/community/" && href == current_path) || (href != "/community/" && current_path.start_with?(href))
        %a.item{:href => "#{relative(href)}", :class => "#{(active ? "active" : "")}"}
          %i.grid.icon.home
          About

        - href = "/community/license/"
        - active = (href == "/community/" && href == current_path) || (href != "/community/" && current_path.start_with?(href))
        %a.item{:href => "#{relative(href)}", :class => "#{(active ? "active" : "")}"}
          %i.grid.icon.legal
          Licenses

    .column.thirteen.wide.computer.sixteen.wide.mobile
      ~ content
