---
layout: base
---
-# layout for pages related to the community
-# display menu on the left
-# handles title display

.ui.container-fluid
  .jumbotron.small
    .ui.container
      %h1
        %span
          Community
      %h2
        %span
          = page.title

.ui.container.page-content
  .ui.stackable.grid
    .column.three.wide
      .ui.fluid.vertical.menu
        - current_path = page.output_path.sub(/index\.html$/, "").sub(/\.html$/,"/")

        - href = "/community/"
        - active = (href == "/community/" && href == current_path) || (href != "/community/" && current_path.start_with?(href))
        %a.item{:href => "#{relative(href)}", :class => "#{(active ? "active" : "")}"}
          %i.grid.icon.home
          About

        - href = "/community/license/"
        - active = (href == "/community/" && href == current_path) || (href != "/community/" && current_path.start_with?(href))
        %a.item{:href => "#{relative(href)}", :class => "#{(active ? "active" : "")}"}
          %i.grid.icon.legal
          Licenses

        - href = "/community/governance/"
        - active = (href == "/community/" && href == current_path) || (href != "/community/" && current_path.start_with?(href))
        %a.item{:href => "#{relative(href)}", :class => "#{(active ? "active" : "")}"}
          %i.grid.icon.bullhorn
          Governance
    .column.thirteen.wide
      ~ content
