---
layout: base
---
-# layout for pages related to the community
-# display menu on the left
-# handles title display

.ui.container-fluid
  .jumbotron.small
    .ui.container
      .ui.grid.stackable
        .column.row
          .column.twelve.wide
            %h1
              %span Community
            %h2
              %span= page.title
          .column.four.wide
            .jumbotron-button
              %a.ui.small.labeled.icon.button{:href => "#{site.github.organization_url}"}
                %i.github.icon
                Our GitHub organization
            .jumbotron-button
              %a.ui.small.labeled.icon.button{:href => "#{site.jira.base_url}"}
                %i.bug.icon
                Our issue tracker
            

.ui.container.page-content
  .ui.stackable.grid
    .column.three.wide.computer.only
      .ui.fluid.vertical.menu
        - current_path = page.output_path.sub(/index\.html$/, "").sub(/\.html$/,"/")

        - href = "/community/"
        - active = (href == current_path)
        %a.item{:href => "#{relative(href)}", :class => "#{(active ? "active" : "")}"}
          %i.grid.icon.users
          Community

        .ui.dropdown.link.item{:class => "#{(current_path.start_with?( '/community/contributors/' ) ? "selected" : "")}"}
          Contributors
          %i.icon.dropdown
          .menu
            - href = "/community/contributors/orm/"
            %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
              Hibernate ORM
            - href = "/community/contributors/search/"
            %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
              Hibernate Search
            - href = "/community/contributors/validator/"
            %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
              Hibernate Validator
            - href = "/community/contributors/ogm/"
            %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
              Hibernate OGM

        - href = "/community/corporate-contributors/"
        - active = (href == current_path)
        %a.item{:href => "#{relative(href)}", :class => "#{(active ? "active" : "")}"}
          %i.grid.icon.building.outline
          Corporate contributors

        - href = "/community/license/"
        - active = (href == current_path)
        %a.item{:href => "#{relative(href)}", :class => "#{(active ? "active" : "")}"}
          %i.grid.icon.legal
          Licenses

        .ui.dropdown.link.item{:class => "#{(current_path.start_with?( '/community/contribute/' ) ? "selected" : "")}"}
          Contribute
          %i.icon.dropdown
          .menu
            - href = "/community/contribute/guidelines/"
            %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
              Guidelines
            - href = "/community/contribute/intellij-idea/"
            %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
              Set up IntelliJ IDEA
            - href = "/community/contribute/eclipse-ide/"
            %a.item{:href => href, :class => "#{(current_path.start_with?( href ) ? "selected" : "")}"}
              Set up Eclipse IDE

    .column.thirteen.wide.computer.sixteen.wide.mobile
      ~ content

:javascript
  $(document).ready(function() {
    $('.ui.menu .ui.dropdown').dropdown({ on: 'hover' });
  });
