- real_page = page["real_page"]
.ui.inverted.vertical.footer.segment.print.hidden
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        %h4.ui.inverted.header Projects
        .ui.inverted.link.list
          %a.item{:href => "#{relative("/orm/", real_page)}", :title => "Hibernate ORM"} Hibernate ORM
          %a.item{:href => "#{relative("/search/", real_page)}", :title => "Hibernate Search"} Hibernate Search
          %a.item{:href => "#{relative("/validator/", real_page)}", :title => "Hibernate Validator"} Hibernate Validator
          %a.item{:href => "#{relative("/ogm/", real_page)}", :title => "Hibernate OGM"} Hibernate OGM
          %a.item{:href => "#{relative("/tools/", real_page)}", :title => "Hibernate Tools"} Hibernate Tools
          %a.item{:href => "#{relative("/reactive/", real_page)}", :title => "Hibernate Reactive"} Hibernate Reactive
          %a.item{:href => "#{relative("/others/", real_page)}", :title => "Other projects"} Other projects
      .three.wide.column
        %h4.ui.inverted.header Follow us
        .ui.inverted.link.list
          %a.item{:href => "#{site.in_relation_to.base_url}", :title => "Blog"} Blog
          %a.item{:href => "#{site.twitter.base_url}", :title => "Twitter"} Twitter
      .five.wide.column
        %h4.ui.inverted.header Contribute and community
        .ui.inverted.link.list
          %a.item{:href => "#{relative("/community/", real_page)}", :title => "Community resources"} Community resources
          %a.item{:href => "#{site.github.organization_url}"} Our GitHub organization
          %a.item{:href => "#{site.jira.base_url}", :title => "Submit a bug"} Submit a bug
          %a.item{:href => "#{site.forum.base_url}", :title => "Submit a bug"} Our forums
          %a.item{:href => "https://access.redhat.com/security/team/contact/", :title => "Report a security issue"} Report a security issue
          %a.item{:href => "#{relative("/community/license", real_page)}", :title => "License"} License
      .five.wide.column.sponsor
        .logo
          %a(href="https://www.redhat.com/")
            %img{:src => "#{relative("/images/sponsored-by-redhat.svg", real_page)}", :title => "Red Hat"}
        -#.logo
          %a(href="https://developers.redhat.com/")
            %img{:src => "#{relative("/images/redhat-developers.png", real_page)}", :title => "Red Hat Developers", :width => 216, :height => 48}
 
