- real_page = page["real_page"]
%meta(charset="utf-8")
%meta(name="viewport" content="width=device-width, initial-scale=1.0")
%meta(name="description" content="#{real_page.description}")
%meta(name="author" content="#{real_page.author}")

%link(href="#{site.semantic_ui_css_url}#{site.minified}.css" rel="stylesheet" media="screen")
%link(href="#{site.slick_css_url}#{site.minified}.css" rel="stylesheet" media="screen")
%link(href="#{site.slick_css_url}-theme#{site.minified}.css" rel="stylesheet" media="screen")
%link(href="#{relative("/stylesheets/styles.css", real_page)}" rel="stylesheet" media="screen")

/ Defines the project favicon. Change these URLs to your specific project folder on static.jboss.org.

%link(rel="shortcut icon" href="#{relative("#{site.project_images_url}/favicon.ico")}")
%link(rel="apple-touch-icon-precomposed" sizes="144x144" href="#{relative("#{site.project_images_url}/apple-touch-icon-144x144-precomposed.png", real_page)}")
%link(rel="apple-touch-icon-precomposed" sizes="114x114" href="#{relative("#{site.project_images_url}/apple-touch-icon-114x114-precomposed.png", real_page)}")
%link(rel="apple-touch-icon-precomposed" sizes="72x72" href="#{relative("#{site.project_images_url}/apple-touch-icon-72x72-precomposed.png", real_page)}")
%link(rel="apple-touch-icon-precomposed" href="#{relative("#{site.project_images_url}/apple-touch-icon-precomposed.png", real_page)}")

%script(src="#{site.jquery_js_url}#{site.minified}.js")
%script(src="#{site.semantic_ui_js_url}#{site.minified}.js")
%script(src="#{site.slick_js_url}#{site.minified}.js")
- if real_page.javascripts
  - real_page.javascripts.each do |javascript|
    %script{:src=>javascript, :type=>'text/javascript'}
