- real_page = page["real_page"]
- current_path = real_page.output_path.sub(/index\.html$/, "").sub(/\.html$/,"/")
- description = real_page.description || (real_page.project ? site.projects[real_page.project].description : nil)
- if current_path == '/'
  - page_title = "#{real_page.title ? real_page.title : real_page.simple_name.capitalize}"
- else
  - page_title = "#{real_page.title ? real_page.title : real_page.simple_name.capitalize} - #{real_page.project ? site.projects[real_page.project].name : site.title}"

%title= page_title

%meta(charset="utf-8")
%meta(name="viewport" content="width=device-width, initial-scale=1.0")
%meta(name="author" content="#{real_page.author}")
%meta(HTTP-EQUIV="Content-Security-Policy" CONTENT="default-src 'none'; form-action 'none'; base-uri 'none'; frame-ancestors 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://hibernate.atlassian.net https://in.relation.to https://staging.in.relation.to https://www.redhat.com https://cdn.jsdelivr.net https://code.jquery.com https://cdnjs.cloudflare.com https://*.googletagmanager.com; style-src 'unsafe-inline' 'self' https://cdn.jsdelivr.net https://cdnjs.cloudflare.com https://fonts.googleapis.com; img-src 'self' data:  https://*.githubusercontent.com  https://*.google-analytics.com https://*.googletagmanager.com https://static.jboss.org https://cdn.jsdelivr.net; font-src 'self' data: https://cdn.jsdelivr.net https://cdnjs.cloudflare.com https://static.jboss.org https://in.relation.to https://staging.in.relation.to https://fonts.gstatic.com https://fonts.googleapis.com; frame-src https://hibernate.atlassian.net; connect-src 'self' https://api.github.com https://*.google-analytics.com https://*.analytics.google.com https://*.googletagmanager.com")
%meta(HTTP-EQUIV="X-XSS-Protection" content="1; mode=block")
%meta(HTTP-EQUIV="X-Content-Type-Options" content="nosniff")

%meta(property="og:site_name" content="#{site.title}")
%meta(property="og:url" content="#{site.base_url}#{real_page.url}")
%meta(property="og:title" content="#{page_title}")
- if description
  %meta(property="og:description" content="#{description}")
%meta(property="og:image" content="#{site.base_url}/images/hibernate_icon_whitebkg.svg")

- if description
  %meta(name="description" content="#{description}")

%link(href="#{site.semantic_ui_css_url}#{site.minified}.css" rel="stylesheet")
%link(href="#{site.slick_css_url}.css" rel="stylesheet")
%link(href="#{site.slick_css_url}-theme.css" rel="stylesheet")
%link(href="/stylesheets/styles.css?t=#{Time.now.to_i}" rel="stylesheet")

/ Defines the project favicon. Change these URLs to your specific project folder on static.jboss.org.

%link(rel="shortcut icon" href="#{relative("#{site.project_images_url}/favicon.ico")}")
%link(rel="apple-touch-icon-precomposed" sizes="144x144" href="#{relative("#{site.project_images_url}/apple-touch-icon-144x144-precomposed.png", real_page)}")
%link(rel="apple-touch-icon-precomposed" sizes="114x114" href="#{relative("#{site.project_images_url}/apple-touch-icon-114x114-precomposed.png", real_page)}")
%link(rel="apple-touch-icon-precomposed" sizes="72x72" href="#{relative("#{site.project_images_url}/apple-touch-icon-72x72-precomposed.png", real_page)}")
%link(rel="apple-touch-icon-precomposed" href="#{relative("#{site.project_images_url}/apple-touch-icon-precomposed.png", real_page)}")

%script(src="#{site.jquery_js_url}#{site.minified}.js" crossorigin="anonymous" type="text/javascript" integrity="#{site.jquery_js_url_integrity}")
%script(src="#{site.semantic_ui_js_url}#{site.minified}.js" crossorigin="anonymous" type="text/javascript" integrity="#{site.semantic_ui_js_url_integrity}")
%script(src="#{site.match_height_js_url}#{site.minified}.js" crossorigin="anonymous" type="text/javascript" integrity="#{site.match_height_js_url_integrity}")
- if real_page.javascripts
  - real_page.javascripts.each do |javascript|
    %script{:src=>javascript, :type=>'text/javascript'}
