- real_page = page["real_page"]
.ui.container.banner
  .logo
    %a(href='/')
      %img{:src=>'https://static.jboss.org/hibernate/images/hibernate_logo_whitebkg_200px.png', :width => 200, :height => 50}
  .ui.stackable.menu#nav
    %a.item{:href => "/orm/", :class=>"#{'active' if real_page.output_path.start_with?('/orm') }"} ORM
    %a.item{:href => "/search/", :class=>"#{'active' if real_page.output_path.start_with?('/search') }"} Search
    %a.item{:href => "/validator/", :class=>"#{'active' if real_page.output_path.start_with?('/validator') }"} Validator
    %a.item{:href => "/ogm/", :class=>"#{'active' if real_page.output_path.start_with?('/ogm') }"} OGM
    %a.item{:href => "/tools/", :class=>"#{'active' if real_page.output_path.start_with?('/tools') }"} Tools
    %a.item{:href => "/others/", :class=>"#{'active' if real_page.output_path.start_with?('/others') }"} Others
    .right.menu
      %a.item(href="http://in.relation.to/") Blog
      %a.item{:href => "/community/", :class=>"#{'active' if real_page.output_path.start_with?('/community') }" } Community
      %a.item(href="https://twitter.com/hibernate")
        %i.twitter.icon
        Follow us      

