- real_page = page["real_page"]
.navbar.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        %ul.nav.pull-left
          %li{:class=>"#{'active' if real_page.output_path.start_with?('/index') }" }<
            %a(href="#{site.base_url}/") Hibernate
          %li{:class=>"#{'active' if real_page.output_path.start_with?('/orm') }" }<
            %a(href="#{site.base_url}/orm/") ORM
          %li{:class=>"#{'active' if real_page.output_path.start_with?('/search') }" }<
            %a(href="#{site.base_url}/search/") Search
          %li{:class=>"#{'active' if real_page.output_path.start_with?('/validator') }" }<
            %a(href="#{site.base_url}/validator/") Validator
          %li{:class=>"#{'active' if real_page.output_path.start_with?('/ogm') }" }<
            %a(href="#{site.base_url}/ogm/") OGM
          %li{:class=>"#{'active' if real_page.output_path.start_with?('/tools') }" }<
            %a(href="#{site.base_url}/tools/") Tools
          %li{:class=>"#{'active' if real_page.output_path.start_with?('/others') }" }<
            %a(href="#{site.base_url}/others/") Others
        %ul.nav.pull-right
          %li<
            %a(href="http://in.relation.to") Blog
          %li<
            %a(href="#{relative("/community/", real_page)}") Community
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              = precede 'Follow Us ' do
                %b.caret>
            %ul.dropdown-menu.projectsocialmedia
              %li<
                %a(href="https://twitter.com/hibernate")<
                  %img(src="#{relative("#{site.jborg_images_url}/common/socialmedia_icon40_twitter.png", real_page)}")
              %li<
                %a(href="https://plus.google.com/112681342290762837955/posts")<
                  %img(src="#{relative("#{site.jborg_images_url}/common/socialmedia_icon40_googleplus.png", real_page)}")
          

