- real_page = page["real_page"]
%footer.container
  .row-fluid
    .span3.offset2
      %h4 Projects
      %ul
        %li
          %a{:href => "#{relative("/orm/", real_page)}", :title => "Hibernate ORM"} Hibernate ORM
        %li
          %a{:href => "#{relative("/search/", real_page)}", :title => "Search"} Hibernate Search
        %li
          %a{:href => "#{relative("/validator/", real_page)}", :title => "Hibernate Validator"} Hibernate Validator
        %li
          %a{:href => "#{relative("/ogm/", real_page)}", :title => "Hibernate OGM"} Hibernate OGM
        %li
          %a{:href => "#{relative("/tools/", real_page)}", :title => "Hibernate Tools"} Hibernate Tools
        %li
          %a{:href => "#{relative("/others/", real_page)}", :title => "Other projects"} Other projects
    .span3
      %h4 Follow Us
      %ul
        %li
          %a{:href => "http://in.relation.to", :title => "Blog"} Blog
        %li
          %a{:href => "https://twitter.com/hibernate/", :title => "Twitter"} Twitter
        %li
          %a{:href => "https://plus.google.com/112681342290762837955/posts", :title => "Google+"} Google+
    .span3
      %h4 Contribute and community
      %ul
        %li
          %a{:href => "#{relative("/community/", real_page)}", :title => "Community resources"} Community resources
        %li
          %a{:href => "https://hibernate.atlassian.net", :title => "Submit a bug"} Submit a bug
        %li
          %a{:href => "https://access.redhat.com/security/team/contact/", :title => "Report a security issue"} Report a security issue
