-# Latest news
- real_page = page["real_page"]
- project_description = real_page.project.nil? ? nil : site.projects[real_page.project]
- blog_suffix_url = (project_description.nil? or project_description.blog_tag_url.nil?) ? "" : project_description.blog_tag_url + "/"
- blog_url = "http://in.relation.to/#{blog_suffix_url}"
- blog_json_feed = (project_description.nil? or project_description.blog_tag_url.nil?) ? "global" : project_description.blog_tag_url

.ui.segment.raised.news
  %h3 Latest news
  #feed
  %a.ui.right.labeled.icon.button{:href => "#{blog_url}"}
    %i.right.arrow.icon
    Other news
-# Uses Google Feed API to load in.relation.to feed and replace the DOM elements
- if_tag_begin = blog_tag.nil? ? "" : "if (entry.categories.indexOf('#{blog_tag}') != -1) {"
- if_tag_end = blog_tag.nil? ? "" : "}"
:javascript
  $(document).ready(function() {
    $.ajax({
      url: "#{site.news_feed_root_url}/#{blog_json_feed}.json",
      jsonpCallback: "getBlogEntries",
      dataType: "jsonp",

      // Work with the response
      success: function( data ) {
        var feedDiv = $('#feed');
        feedDiv.empty();
        for (var i = 0; i < data.length; i++) {
          var entry = data[i];
          var entryDate = new Date(entry.date);
          var dateString =
              entryDate.getFullYear() + '-'
              + ('0' + (entryDate.getMonth()+1)).slice(-2) + '-'
              + ('0' + entryDate.getDate()).slice(-2);
          feedDiv.append(
            $('<div class="news-item"/>').append(
              $('<h4/>').append(
                $('<a href="' + entry.url + '" />').text(entry.title)
              )
            ).append(
              $('<small/>').text(dateString)
            ).append(
              $('<p/>').text(entry.snippet)
            ).append(
              '<hr/>'
            )
          );
        }
      }
    });
  });
