---
layout: project-downloads
title: Hibernate OGM downloads
project: ogm
---
-# Metadata from site.yml for the project
- project_description = site.projects[page.project]

:asciidoc
  :nexus: https://repository.jboss.org/nexus/
  :nexus-search: https://repository.jboss.org/nexus/index.html#nexus-search;gav~#{project_description.group_id}~#{project_description.artifact_id}~~~
  :groupId: #{project_description.group_id}
  :artifactId: #{project_description.artifact_id}
  :prj-version: #{project_description.releases.first.version}

  == Maven repository

  Hibernate OGM is built using Maven and publishes as part of the release process the project artifacts to the
  {nexus}[JBoss Maven Repository] under {nexus-search}[{groupId}:{artifactId}].
  For more information on how to configure Maven to use JBoss's repository,
  http://community.jboss.org/wiki/MavenGettingStarted-Users[look here] or use `mvn install -s setting-example.xml`.

  Here is how to declare the dependency in your Maven POM file

  [source,xml]
  [subs="verbatim,attributes"]
  .Maven dependency
  ----
  <dependency>
      <groupId>{groupId}</groupId>
      <artifactId>{artifactId}</artifactId>
      <version>{prj-version}</version>
  </dependency>
  ----
