-# download / get started button
- real_page = page["real_page"]
- get_started_url = site.projects[real_page.project].getting_started.nil? ? nil : relative("#{site.projects[real_page.project].getting_started}", real_page)
- project_description = site.projects[real_page.project]
- release = latest_stable_release(real_page)
- release = release.nil? ? latest_dev_release(real_page) : release
- download_url = release.nil? ? nil : "#{sourceforge_zip_url(project_description, release)}"
.row-fluid
  .hidden-phone.project-title-desktop.text-center
    .visible-desktop
      - if not get_started_url.nil?
        %a.btn.btn-large.hero-button{:href => "#{get_started_url}"} Getting started
      - if not release.nil?
        %a.btn.btn-success.btn-large.hero-button{:href => "#{download_url}"}= "Download (#{release.version})"
    .hidden-desktop
      %a.btn.btn-large.hero-button{:href => "#{get_started_url}"} Getting started
  .visible-phone
    .project-title-phone.text-center
      %a.btn{:href => "#{get_started_url}"} Getting started
