-# download / get started button
- real_page = page["real_page"]
- get_started_url = site.projects[real_page.project].getting_started.nil? ? nil : relative("#{site.projects[real_page.project].getting_started}", real_page)
- project_description = site.projects[real_page.project]
- stable_series = latest_stable_series(real_page)
- series = latest_series(real_page)
- dev_series = series != stable_series ? series : nil
- download_url = release.nil? ? nil : "#{sourceforge_zip_url(project_description, release)}"
.project-title-desktop.text-center
  - if not get_started_url.nil?
    %a.btn.btn-large.hero-button{:href => "#{get_started_url}"}
      %i.icon-circle-arrow-right
      Getting started
  - if not (stable_series.nil? && dev_series.nil?)
    - unless stable_series.nil?
      %a.btn.btn-large.btn-success.hero-button{:href => "./releases/#{series.version}/"}
        %i.icon-circle-arrow-right
        Latest stable (#{stable_series.version})
    - unless (dev_series.nil? || !dev_series.displayed)
      %a.btn.btn-large.btn-warning.hero-button{:href => "./releases/#{dev_series.version}/"}
        %i.icon-circle-arrow-right
        Development (#{dev_series.version})
