---
layout: project
title: Directory listing /dtd
---

.content
  %h1 Index of /dtd

  - @items = list_entries(File.dirname(__FILE__), '*.dtd')

  %table{:style=>"border: 10px; width: 80%"}
    %tbody
      %tr
        %th{:align=>'left', :style=>"padding-bottom: 20px;"} Name
        %th{:align=>'left', :style=>"padding-bottom: 20px;"} Last modified
        %th{:align=>'right', :style=>"padding-bottom: 20px;"} Size
      - @items.each_with_index do |row, row_index|
        %tr
          - row.each_with_index do |column, column_index|
            -if column_index == 0
              %td
                %a(title=column href="./#{column}") #{column}
            -else
              -if column_index < 2
                %td= "#{column}"
              -else
                %td{:align=>'right'}= "#{column}"
