---
layout: title-nocol
title: Index of /dtd
---

- @items = list_entries(File.dirname(__FILE__), '*.dtd')

%table{:style=>"width: 80%", :class=>"ui table celled striped"}
  %thead
    %tr
      %th Name
      %th Last modified
      %th{:style=>'text-align:right'} Size
  %tbody
    - @items.each_with_index do |row, row_index|
      %tr
        - row.each_with_index do |column, column_index|
          -if column_index == 0
            %td
              %a(title=column href="./#{column}") #{column}
          -else
            -if column_index < 2
              %td= "#{column}"
            -else
              %td{:style=>'text-align:right'}= "#{column}"
