---
layout: project
title: Directory listing /dtd
---

.content
  %h1 Index of /dtd

  - @items = list_entries(File.dirname(__FILE__), '*.dtd')

  %table{:style=>"width: 80%", :class=>"table table-bordered"}
    %tbody
      %tr
        %th Name
        %th Last modified
        %th{:style=>'text-align:right'} Size
      - @items.each_with_index do |row, row_index|
        %tr
          - row.each_with_index do |column, column_index|
            -if column_index == 0
              %td
                %a(title=column href="./#{column}") #{column}
            -else
              -if column_index < 2
                %td= "#{column}"
              -else
                %td{:style=>'text-align:right'}= "#{column}"
