---
layout: project-standard
project_buttons_partial: project/documentation-buttons.html.haml
---
-# project documentation page
-# show title, action buttons for reference doc and getting started guide
-# show reference documentation for each of the highlighted releases

-# Metadata from site.yml for the project
- project_description = site.projects[page.project]
- get_started_url = site.projects[page.project].getting_started.nil? ? nil : relative("#{site.projects[page.project].getting_started}", page)
- stable_series = project_description.latest_stable_series

-# Documentation table built from the metadata

%h2 Reference documentation

- displayed_series = project_description.release_series.nil? ? nil : project_description.release_series.values.select{|s| s.displayed}
- if not displayed_series.nil?
  .ui.grid.documentation-versions
    - project_description.release_series.values.each do |series|
      - release = series.releases[0]
      - if series.displayed
        .ui.row
          .three.wide.column
            %span.ui.label.series= series.version
          .thirteen.wide.column
            %p
              %span.ui.label.large
                %strong= release.version
                %span.detail= release.date
              %span.ui.tag.label{:class => "#{release.stable ? 'green' : 'orange'}"} #{release.stable ? 'stable'   : 'development'}
            %p
              = series.summary
            %p
              %span.ui.button.disabled
                Documentation
              %a.ui.icon.button.primary(href="#{doc_reference_url(project_description, series)}")
                %i.icon.file.text.outline
                HTML
              - pdf_url = doc_reference_pdf_url(project_description, series)
              - if not pdf_url.nil?
                %a.ui.icon.button.primary(href="#{pdf_url}")
                  %i.icon.file.pdf.outline
                  PDF
              %a.ui.icon.button.primary(href="#{javadoc_url(project_description, series)}/")
                %i.icon.code.outline
                API (JavaDoc)
- else
  %p There is no reference documentation configured for this project.

%p
  Documentation for older versions can be found
  %a{:href => "#{doc_root_url(project_description)}"} on the reference documentation site
  \.

~ content
