---
layout: project-frame
---
-# Defines the project download page template
-# Provide get started and download action buttons
-# List releases defined in the project metadata

-# subpages must define a section whose anchor is "supported-version"

-# Metadata from site.yml for the project
- project_description = site.projects[page.project]

-# Release buttons using the latest dev and latest stable releases
.release-bottons.visible-desktop
  - stable_release = latest_stable_release(page)
  - dev_release = latest_dev_release(page)
  - if not (stable_release.nil? && dev_release.nil?)
    .row-fluid.text-center
      - if not stable_release.nil?
        %a.btn.btn-large.btn-success{:href => "#{project_description.sourceforge_url}#{stable_release.version}/"} Download stable #{stable_release.version}
      - if not (stable_release.nil? || dev_release.nil?)
        &nbsp;
      - if not dev_release.nil?
        %a.btn.btn-large.btn-warning{:href => "#{project_description.sourceforge_url}#{dev_release.version}/"} Download development #{dev_release.version}
.row-fluid
  .span12
    .alert.text-center
      -# %button.close{:type => 'button', "data-dismiss" =>'alert'}
      -#  &times;
      %i.icon-user-md.icon-large
      :asciidoc
        :doctype: inline

        Looking for commercial support? Check out link:#supported-versions[Red Hat's offering].
.row-fluid
  .span12
    -# Release table built form the metadata
    %h2 Releases
    - site.projects[page.project].releases.each do |release|
      %dl.dl-horizontal
        %dt
          = release.version
          &nbsp;
          %a.btn.btn-info{:href => "#{project_description.sourceforge_url}#{release.version}/"}
            %i.icon-cloud-download
        %dd
          %small= release.date
          %span.label{:class => "#{release.stable ? 'label-success' : 'label-warning'}"} #{release.stable ? 'stable' : 'development'}
        %dd
          %small
            Maven gav: 
            %a{:href => "https://repository.jboss.org/nexus/index.html#nexus-search;gav~#{project_description.group_id}~#{project_description.artifact_id}~#{release.version}~~"}
              #{project_description.group_id}:#{project_description.artifact_id}:#{release.version}
        %dd
          = release.summary
        %dd
          %a{:href => "#{release.announcement_url}"}
            More on this release
            %i.icon-circle-arrow-right
    Older releases can be found
    %a{:href => "#{project_description.sourceforge_url}"}
      on SourceForge
    or in JBoss's
    %a{:href => "https://repository.jboss.org/nexus/index.html#nexus-search;gav~#{project_description.group_id}~#{project_description.artifact_id}~~~"}<
      Maven repository
.row-fluid
  .span12
    ~ content
