---
layout: project-standard
---
-# project documentation page
-# show title, action buttons for reference doc and getting started guide
-# show reference documentation for each of the highlighted releases

-# Metadata from site.yml for the project
- project_description = site.projects[page.project]
- get_started_url = site.projects[page.project].getting_started.nil? ? nil : relative("#{site.projects[page.project].getting_started}", page)
- stable_series = project_description.latest_stable_series

-# Documentation table built from the metadata

%h2 Reference documentation

- if not site.projects[page.project].release_series.nil?
  - project_description.release_series.values.each do |series|
    - release = series.releases[0]
    - if series.displayed
      %dl.dl-horizontal
        %dt
          = series.version
          &nbsp;
          %a.btn.btn-info{:href => "#{doc_reference_url(project_description, series)}"}
            %i.icon-book
        %dd
          %small
            %strong= release.version
            = "-"
            = release.date
          %span.label{:class => "#{release.stable ? 'label-success' : 'label-warning'}"} #{release.stable ? 'stable'   : 'development'}
        %dd
          %small= series.summary
        %dd
          %ul
            %li
              English reference documentation:
              %a{:href => "#{doc_reference_url(project_description, series)}"}
                HTML
              - pdf_url = doc_reference_pdf_url(project_description, series)
              - if not pdf_url.nil?
                |
                %a{:href => "#{pdf_url}"}
                  PDF
            %li
              API documentation:
              %a{:href => "#{javadoc_url(project_description, series)}/"}
                JavaDoc
- else
  %p There is no reference documentation configured for this project.

:asciidoc
  :ref_doc: #{doc_root_url(project_description)}

  Documentation for older versions can be found {ref_doc}[on the reference documentation site].

~ content
