---
layout: project-frame
---
-# project documentation page
-# show title, action buttons for reference doc and getting started guide
-# show reference documentation for each of the highlighted releases

-# Metadata from site.yml for the project
- project_description = site.projects[page.project]
- get_started_url = site.projects[page.project].getting_started.nil? ? nil : relative("#{site.projects[page.project].getting_started}", page)

-# Documentation buttons using the latest dev and latest stable releases
.release-bottons.hidden-phone
  - stable_release = latest_stable_release(page)
  .row-fluid.text-center
    - if not get_started_url.nil?
      %a.btn.btn-large{:href => "#{get_started_url}"} Getting started guide
    - if not stable_release.nil?
      &nbsp;
      %a.btn.btn-large.btn-success{:href => "#{project_description.reference_doc_prefix_url}#{stable_release.version_family}/#{project_description.reference_doc_type}/en-US/html/"} Get documentation for #{stable_release.version}
.release-bottons.visible-phone
  - stable_release = latest_stable_release(page)
  - if not get_started_url.nil?
    .row-fluid.text-center
      #get-started-button
        %a.btn{:href => "#{get_started_url}"} Getting started guide
    - if not stable_release.nil?
      .row-fluid.text-center
        #documentation-button
          %a.btn.btn-success{:href => "#{project_description.reference_doc_prefix_url}#{stable_release.version_family}/#{project_description.reference_doc_type}/en-US/html/"} Get documentation for #{stable_release.version}
.row-fluid
  .span12
    -# Documentation table built form the metadata
    %h2 Reference documentation
    - if not site.projects[page.project].sorted_releases.nil?
      - site.projects[page.project].sorted_releases.each do |release|
        - if release.displayed
          %dl.dl-horizontal
            %dt
              = release.version
              &nbsp;
              %a.btn.btn-info{:href => "#{project_description.reference_doc_prefix_url}#{release.version_family}/#{  project_description.reference_doc_type}/en-US/html/"}
                %i.icon-book
            %dd
              %small= release.date
              %span.label{:class => "#{release.stable ? 'label-success' : 'label-warning'}"} #{release.stable ? 'stable'   : 'development'}
            %dd
              %small= release.summary
            %dd
              %ul
                %li
                  English reference documentation:
                  %a{:href => "#{project_description.reference_doc_prefix_url}#{release.version_family}/#{  project_description.reference_doc_type}/en-US/html/"}
                    HTML
                  |
                  %a{:href => "#{project_description.reference_doc_prefix_url}#{release.version_family}/#{  project_description.reference_doc_type}/en-US/html_single/"}
                    HTML (single page)
                  - if not project_description.reference_pdf.nil?
                    |
                    %a{:href => "#{project_description.reference_doc_prefix_url}#{release.version_family}/#{  project_description.reference_doc_type}/en-US/pdf/#{project_description.reference_pdf}"}
                      PDF
                %li
                  API documentation:
                  %a{:href => "#{project_description.reference_doc_prefix_url}#{release.version_family}/#{  project_description.javadoc_path}/"}
                    JavaDoc

    - else
      %p There is no reference documentation configured for this project.

    :asciidoc
      :ref_doc: #{project_description.reference_doc_prefix_url}

      Documentation for older versions can be found {ref_doc}[on the reference documentation site].
.row-fluid
  .span12
    ~ content
