---
layout: project-standard
project_banner_partial: project/banner-series.html.haml
project_hero_partial: project/hero-series.html.haml
---
-# Defines the project series page template
-# Provides info about a particular series
-# List releases defined for the given series

-# Metadata from site.yml for the project
- project_description = site.projects[page.project]
- series = project_description.release_series[page.series_version]
- latest_release = series.releases.first

- project_maven = project_description[:maven] || {}
- series_maven = series[:maven] || {}
- latest_release_maven = latest_release[:maven] || {}

- latest_release_group_id = latest_release_maven[:group_id]
- latest_release_group_id ||= series_maven[:group_id]
- latest_release_group_id ||= project_maven[:group_id]

- maven_repo = series_maven[:repo]
- maven_repo ||= project_maven[:repo]

- getting_started_guide = getting_started_guide(project_description, series)
- migration_guide = migration_guide(project_description, series)
- dist_sourceforge = dist_sourceforge(project_description, series, latest_release)

#toc
  #toctitle
    Quick links
  %ul
    - unless series.integration_constraints.nil? || series.integration_constraints.empty?
      %li
        %a.item(href="#compatibility")
          Compatibility
    %li
      %a.item{:href => "#documentation"}
        Documentation
    %li
      %a.item{:href => "#get-it"}
        How to get it
    - if not getting_started_guide.nil?
      %li
        %a.item{:href => "#getting_started"}
          Getting started
    - if not migration_guide.nil?
      %li
        %a.item{:href => "#migrate"}
          Migrating
    %li
      %a.item{:href => "#whats-new"}
        What's new
    %li
      %a.item{:href => "#releases"}
        Releases in this series

- unless series.integration_constraints.nil? || series.integration_constraints.empty?
  %h2{:id => "compatibility"} Compatibility
  %table.ui.collapsing.table.striped.celled.unstackable
    - series.integration_constraints.each_pair do |integration_id,constraint|
      - integration = project_description.integrations[integration_id]
      %tr
        %td
          %a{:href => "#{integration.url}"}
            = integration["name"]
        %td
          #{constraint.version}
  %p
    Not compatible with your requirements? Have a look at the
    %a{:href => "../"}
      other series.
  %p
    See also the
    %a{:href => "/community/compatibility-policy"}
      Compatibility policy.

%h2{:id => "documentation"} Documentation
%p
  Documentation for this specific series can be accessed through the links below:
%p
  - reference_doc = reference_doc(project_description, series)
  %a.ui.right.labeled.icon.button(href="#{reference_doc.html_url}")
    %i.icon.file.text.outline
    HTML
  - if not reference_doc.pdf_url.nil?
    %a.ui.right.labeled.icon.button(href="#{reference_doc.pdf_url}")
      %i.icon.file.pdf.outline
      PDF
  - javadoc = javadoc(project_description, series)
  %a.ui.right.labeled.icon.button(href="#{javadoc.html_url}")
    %i.icon.code.outline
    API (JavaDoc)

%p
  You can find more documentation for all series on the
  %a{:href => '../../documentation'}
    documentation page.

%h2{:id => "get-it"} How to get it
.ui.grid.equal.height.stackable.download-options
  - if maven_repo
    .eleven.wide.column
      %h3 Maven, Gradle...
      - if maven_repo[:bintray]
        %p
          Maven artifacts of #{project_description.name} are published to
          %a{:href => site.maven.repo.central.web_ui_url}
            Maven Central
          and to
          %a{:href => site.maven.repo.bintray.web_ui_url}
            Bintray.
      - elsif maven_repo[:jboss]
        %p
          Maven artifacts of #{project_description.name} are published to
          %a{:href => site.maven.repo.central.web_ui_url}
            Maven Central
          and to the
          %a{:href => site.maven.repo.jboss.web_ui_url}
            JBoss Maven repository.
          Refer to the
          %a{:href => "http://community.maven.jboss.org/wiki/MavenGettingStarted-Users"} Maven Getting Started guide
          on the JBoss Wiki for more information on how to configure the JBoss Maven repository.
      - else
        %p
          Maven artifacts of #{project_description.name} are published to
          %a{:href => site.maven.repo.central.web_ui_url}
            Maven Central.
      - if maven_repo[:bintray]
        %p
          You can find the Maven coordinates of all artifacts through the link below:
          %p
            %a.ui.right.labeled.button.primary.icon{:href => maven_bintray_url(maven_repo.bintray.package)}
              %i.icon.cloud.cubes
              Maven artifacts
      - elsif maven_repo[:central]
        %p
          You can find the Maven coordinates of all artifacts through the link below:
          %p
            %a.ui.right.labeled.button.primary.icon{:href => maven_central_search_url(latest_release_group_id, maven_repo.central.artifact_id_pattern, latest_release.version)}
              %i.icon.cloud.cubes
              Maven artifacts
      - if series[:artifacts]
        %p
          Below are the Maven coordinates of the main artifacts.
        %dl.sparse
          - series.artifacts.each do |artifact|
            - group_id = latest_release_group_id
            - artifact_id = artifact.artifact_id
            - version = latest_release.version
            - summary = artifact[:summary]
            - summary ||= artifact.artifact_id
            %dt
              %a.ui.label.large.blue{:href => maven_central_artifact_url(group_id, artifact_id, version)}
                #{group_id}:#{artifact_id}:#{version}
            %dd= summary
            - if false # disabled for now, takes too much vertical space
              :asciidoc
                :groupId: #{group_id}
                :artifactId: #{artifact_id}
                :version: #{version}
                [source,xml]
                [subs="verbatim,attributes"]
                ----
                <dependency>
                    <groupId>{groupId}</groupId>
                    <artifactId>{artifactId}</artifactId>
                    <version>{version}</version>
                </dependency>
                ----
      %p
        To verify signed Maven artifacts, head to
        %a{:href => "/community/keys/"}
          this page.
  - if dist_sourceforge
    .five.wide.column.divided
      %h3 Zip archive
      %p
        Direct download is available from SourceForge:
      %p
        %a.ui.right.labeled.button.primary.icon{:href => dist_sourceforge.zip_url, :title => "Download"}
          %i.icon.cloud.download
          Download Zip archive

%p
  More information about specific releases (announcements, download links) can be found
  %a{:href => "#releases"}
    here.

- if not getting_started_guide.nil?
  %h2{:id => "getting_started"} Getting started
  %p
    If you want to start using #{project_description.name}, please refer to the getting started guide:
  %p
    - if not getting_started_guide.html_url.nil?
      %a.ui.right.labeled.icon.button(href="#{getting_started_guide.html_url}")
        %i.icon.file.text.outline
        HTML
    - if not getting_started_guide.pdf_url.nil?
      %a.ui.right.labeled.icon.button(href="#{getting_started_guide.pdf_url}")
        %i.icon.file.pdf.outline
        PDF

- if not migration_guide.nil?
  %h2{:id => "migrate"} Migrating
  %p
    If you need to upgrade from a previous series, please refer to the migration guide:
  %p
    - if not migration_guide.html_url.nil?
      %a.ui.right.labeled.icon.button(href="#{migration_guide.html_url}")
        %i.icon.file.text.outline
        HTML
    - if not migration_guide.pdf_url.nil?
      %a.ui.right.labeled.icon.button(href="#{migration_guide.pdf_url}")
        %i.icon.file.pdf.outline
        PDF

%h2{:id => "whats-new"} What's new

- if ! latest_release.stable
  :asciidoc
    :projectName: #{project_description.name}
    :version: #{series.version}
    [NOTE]
    ====
    {projectName} {version} is still in development:

    * some features may be incomplete;
    * newly introduced features may change in a backward-incompatible way before the stable release.

    We encourage you to link:#get-it[give it a try] and to link:/community/[let us know]
    of any bugs or problems you encounter.
    ====

- if latest_release[:announcement_url]
  %p
    Latest release announcement (#{latest_release.date}):
    %a{:href => "#{latest_release.announcement_url}"}
      #{latest_release.version}.

%p
  A detailed list of new features, improvements and fixes in this series can be found
  - if project_description[:jira][:key]
    %a{:href => jira_issues_for_series_url(project_description, series)}
      on our issue tracker.
  - else
    %a{:href => github_issues_url(project_description)}
      on our issue tracker.

~ content

%h2{:id => "releases"} Releases in this series
- unless series.nil?
  .ui.stackable.grid.series-versions
    - series.releases.each do |release|
      - release_maven = release[:maven] || {}
      - group_id = release_maven[:group_id]
      - group_id ||= series_maven[:group_id]
      - group_id ||= project_maven[:group_id]
      - main_artifact_id = release_maven[:main_artifact_id]
      - main_artifact_id ||= series_maven[:main_artifact_id]
      - main_artifact_id ||= project_maven[:main_artifact_id]
      - maven_repo = release_maven[:repo]
      - maven_repo ||= series_maven[:repo]
      - maven_repo ||= project_maven[:repo]
      - dist_sourceforge = dist_sourceforge(project_description, series, release)
      - version = release.version
      - available = release[:available] == nil || release[:available]
      .ui.row
        .three.wide.column
          %p
            %span.ui.label.version{:class => "#{release.stable ? 'green' : 'orange'}"}
              = version
          %p
            %small.ui.label= release.date
        .thirteen.wide.column
          - if release[:summary]
            %p
              = release.summary
          - if available && latest_release.version == version
            %p
              %a.ui.small.right.labeled.icon.button{:href => '#get-it'}
                %i.level.up.alternate.icon
                How to get it
              - if not getting_started_guide.nil?
                %a.ui.small.right.labeled.icon.button{:href => '#getting_started'}
                  %i.level.up.alternate.icon
                  Getting started
          %p
            - if available
              - if maven_repo[:bintray]
                %a.ui.small.right.labeled.button.icon{:href => maven_bintray_version_url(maven_repo.bintray.package, version)}
                  %i.icon.cloud.cubes
                  Maven artifacts
              - elsif maven_repo[:central]
                %a.ui.small.right.labeled.button.icon{:href => maven_central_search_url(group_id, maven_repo.central.artifact_id_pattern, version)}
                  %i.icon.cloud.cubes
                  Maven artifacts

              - if dist_sourceforge
                %a.ui.small.right.labeled.button.icon{:href => dist_sourceforge.zip_url}
                  %i.icon.cloud.download
                  Download

              - if project_description[:jira][:key]
                %a.ui.small.right.labeled.button.icon{:href => jira_issues_for_release_url(project_description, release)}
                  %i.icon.bug
                  Resolved issues

              - if release[:announcement_url]
                %a.ui.small.right.labeled.button.icon{:href => "#{release.announcement_url}"}
                  %i.icon.announcement
                  Release announcement
- else
  %p There are no releases configured for this series.
