!!! 5
%html(lang="en")
  %head
    = partial('head.html.haml', { "real_page" => page } )
    - if site.enable_google_analytics
      = google_analytics

  %body.pushable
    = partial( 'menu/mobile.html.haml', {"real_page" => page} )

    .pusher

      .mobile-menu-button-bar.mobile.only.print.hidden
        %a.item#mobile-menu-toggle
          %i.sidebar.icon
          Menu

      / begin accesibility skip to top
      %ul.sr-only
        %li
          %a{:accesskey => "n", :href => "#nav", :title => "Skip to navigation"} Skip to navigation
        %li
          %a{:accesskey => "c", :href => "#content", :title => "Skip to content"} Skip to content

      = partial( page.header_partial.nil? ? 'header.html.haml' : page.header_partial, {"real_page" => page} )

      ~content

      = partial( page.footer_partial.nil? ? 'footer.html.haml' : page.footer_partial, {"real_page" => page} )

      %span.back-to-top.computer.only
        %a{:href => "javascript: void(0)"} Back to top

    - if page.bottom_javascripts
      - page.bottom_javascripts.each do |javascript|
        %script{:src=>javascript, :type=>'text/javascript'}

    :javascript
      $(function() {
        $('#mobile-menu').sidebar('setting', {
          transition: 'push'
        });
        $('#mobile-menu').sidebar('attach events', '#mobile-menu-toggle');

        $('.ui.accordion').accordion();

        $(window).scroll(function(e) {
          if($(this).scrollTop()>150){
            $('.back-to-top').fadeIn(1000); // Fading in the button on scroll after 150px
          }
          else {
            $('.back-to-top').fadeOut(500); // Fading out the button on scroll if less than 150px
          }
        });

          $('.back-to-top').click(function(e) {
            $('body, html').animate({scrollTop:0}, 800);
          });
        });
